<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace先随意写一个-->
<mapper namespace="com.fzdkx.mapper.CategoryMapper">
    <insert id="insertCategory">
        insert into category
        (type, name, sort, status, create_time, update_time, create_user, update_user)
        values
        (#{type} , #{name} , #{sort} , #{status} , #{createTime} , #{updateTime} , #{createUser} , #{updateUser})
    </insert>
    <update id="updateCategory">
        update category
        <set>
            <if test="name != null">
                name = #{name} ,
            </if>
            <if test="sort != null">
                sort = #{sort} ,
            </if>
            <if test="status != null">
                status = #{status} ,
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime} ,
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteCategory">
        delete from category
        where id = #{id}
    </delete>

    <select id="pageSelectCategory" resultType="category">
        select *
        from category
        <where>
            <if test="name != null and name != '' ">
                name = #{name}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        order by sort
    </select>
    <select id="selectCategoryList" resultType="category">
        select id, type, name, sort, status, create_time, update_time, create_user, update_user
        from category
        where type = #{type}
    </select>
</mapper>