<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace先随意写一个-->
<mapper namespace="com.fzdkx.mapper.DishMapper">
    <insert id="insertDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish
        (name, category_id, price, image, description, create_time, update_time, create_user, update_user)
        values
        (#{name} , #{categoryId} , #{price} , #{image} , #{description} , #{createTime} , #{updateTime} , #{createUser} , #{updateUser})
    </insert>
    <delete id="deleteDish">
        delete from dish
        <where>
            <choose>
                <when test="ids != null and ids.size != 0">
                    id in
                    <foreach collection="ids" item="id" separator="," open="(" close=")">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
        </where>
    </delete>
    <select id="selectDishList" resultType="com.fzdkx.vo.DishVO">
        select d.* , c.`name` as categoryName
        FROM dish as d
        LEFT JOIN category as c ON d.category_id = c.id
        <where>
            <if test="status != null">
                d.status = #{status}
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="name != null">
                and d.name like concat('%',#{name},'%')
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="selectDishAndFlavorById" resultType="com.fzdkx.vo.DishAndFlavorVO">
        select d.* , c.`name` as categoryName
        FROM dish as d
        LEFT JOIN category as c ON d.category_id = c.id
        WHERE d.id = #{id}
    </select>
    <select id="selectDishStatus" resultType="java.lang.Integer">
        select status
        from dish
        where id = #{id}
    </select>

    <select id="selectDishListBySetmealId" resultType="com.fzdkx.vo.DishItemVO">
        select sd.copies , s.description , d.image , sd.name
        from setmeal as s
        left join setmeal_dish as sd
        left join dish as d on sd.dish_id = d.id
        on s.id = sd.setmeal_id
        where sd.setmeal_id = #{setmealId}
    </select>
    <select id="selectDishAndFlavorByCategoryId" resultType="com.fzdkx.vo.DishAndFlavorVO">
        select d.* , c.`name` as categoryName
        FROM dish as d
        LEFT JOIN category as c ON d.category_id = c.id
        WHERE c.id = #{categoryId}
    </select>

    <update id="updateDish">
        update dish
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
